.apiItem {
  background-color: #0096FF;
  padding: 5px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.arrow {
  width: 15px;
  height: 15px;
  fill: white;
}

.arrowUp {
  width: 15px;
  height: 15px;
  fill: white;
  transform: rotate(180deg);
}

.arrowBtn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

}